.pico8_el {
	width:20%;
	margin: 1px;
	padding: 4px;
	text-align: center;
	color:#fff;
	background-color:#777;
	font-family : monospace;
	font-size: 9pt;
	cursor: pointer;
	cursor: hand;
}
.pico8_el a {
	text-decoration: none;
	color:#fff;
}

.pico8_el img {
	width: 12px;
	height: 12px;
}

.pico8_el:hover {
	background-color:#aaa;
}

.pico8_el:link {
	background-color:#aaa;
}

#canvas {
	width: 512px; height: 512px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  border: 0px;
}

body {
	background-color: #303030;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pico-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pico-menu {
	display: flex;
	flex-direction: row;
	align-items: space-between;
	width: 100%;
}

p {
	text-align: center;
	color:#fff;
	font-family : monospace;
}

a {
	color: #ff88cc;
}

a:hover {
	color: #ffcccc;
}

a:visited {
	color: #ff88cc;
}